.btn-back-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.mb-n4 {
  margin-bottom: -0.9rem;
}
.me-n2 {
  margin-right: -2rem;
}
.mt-n2 {
  margin-top: -1rem;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}
ol {
  counter-reset: item;
  list-style-type: none;
}
li {
  display: block;
}
.jarak_section {
  margin-top: 10rem;
}
.bagian-pesan {
  background-image: url("https://i.gyazo.com/542e22207888431647690ca43ccbfda5.png");
  object-fit: fill;
  width: 100%;
  height: 100%;
}
